<form (ngSubmit)="submitData()" [formGroup]="loginForm" novalidate>

  <span mat-dialog-title>Iniciar Sesión</span>

  <mat-dialog-content>

    <div class="clearfix my-1">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput placeholder="Name" type="text" id="user-name" autocomplete="on">
      </mat-form-field>

      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" placeholder="* * * * * * * *" [type]="showPassword1 ? 'text' : 'password'"
               maxlength="100" id="user-password" autocomplete="on" required matInput>
        <mat-icon role="button" (click)="showPassword1 = !showPassword1" [class.text-primary]="showPassword1"
                  [class.text-secondary]="!showPassword1" matSuffix>remove_red_eye
        </mat-icon>
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button color="primary" mat-flat-button type="submit" [disabled]="!loginForm.valid">Login</button>
  </mat-dialog-actions>

</form>
